<footer>
    <div class="footer-wrapper">
        <div class="footer-columns">
            <div id="links">

            </div>
            <div id="contact-details">
                <h4>REACH OUT</h4>
                <p>YES@ITS-PYOTR.COM</p>
                <p>T.ME/ITSPYOTR</p>
            </div>
            <div id="design-brief">
                <h4>DESIGN</h4>
                <p>WEB DESIGN</p>
                <p>UX/UI</p>
                <p>MOTION DESIGN</p>
                <p>POSTER</p>
                <p>EDITORIAL</p>
                <p>VISUAL IDENTITY</p>
            </div>
            <div id="dev-brief">
                <h4>DEVELOPMENT</h4>
                <p>FRONT END</p>
                <p>DATA VISUALISATION</p>
                <p>P5JS</p>
                <p>WEB APP</p>
                <p>GENERATIVE GRAPHICS</p>
            </div>
        </div>
        <div class="footer-columns">
            <div class="extr-link">
            </div>
            <div class="extr-link">
                <a href="https://instagram.com/itspyotr" target="_blank">INSTAGRAM &#8599;</a>
            </div>
            <div class="extr-link">
                <a href="https://be.net/woshibide" target="_blank">BEHANCE &#8599;</a>
            </div>
            <div class="extr-link">
                <a href="https://github.com/woshibide" target="_blank">GITHUB &#8599;</a>
            </div>
        </div>
    </div>
    <div class="footer-note">
        <p>THIS WEBSITE WAS DESIGNED AND DEVELOPED BY PYOTR GOLOUB</p>
        <p>2026</p>
    </div>
</footer>