<footer>
    <div class="footer-wrapper">
        <div class="footer-columns">
            <div id="links">
                
            </div>
            <div id="design-brief">
                <h4>design</h4>
                <p>web design</p>
                <p>ux/ui</p>
                <p>motion design</p>
                <p>poster</p>
                <p>editorial</p>
                <p>visual identity</p>
            </div>
            <div id="dev-brief">
                <h4>development</h4>
                <p>front end</p>
                <p>data visualisation</p>
                <p>p5js</p>
                <p>web app</p>
                <p>generative graphics</p>
            </div>
            <div id="contact-details">
                <h4>reach out</h4>
                <p>pyotr[at]wshbd[dot]com</p>
                <p>t[dot]me[slash]itspyotr</p>
                <p>Amsterdam, Netherlands</p>
            </div>
        </div>
        <div class="footer-columns">
            <div class="extr-link">
                
            </div>
            <div class="extr-link">
                <a href="https://be.net/woshibide" target="_blank">behance &#8599;</a>
            </div>
            <div class="extr-link">
                <a href="https://github.com/woshibide" target="_blank">github &#8599;</a>
            </div>
            <div class="extr-link">
                <a href="https://instagram.com/itspyotr" target="_blank">instagram &#8599;</a>
            </div>
        </div>
    </div>
    <div class="footer-note">
        <p>this website was designed and developed by pyotr goloub</p>
        <p>2026</p>
    </div>
</footer>