<div id="menu-icon">
    <div class="stripe"></div>
    <div class="stripe"></div>
    <div class="stripe"></div>
    <div class="stripe"></div>
</div>
<div id="home-sticky" class="sticky-nav-actions">
    <a class="sticky-link" href="/">main</a>
    <a class="sticky-link" href="/about">profile</a>
    <a class="sticky-email" href="mailto:yes@its-pyotr.com class=">email</a>
</div>
<nav id="nav-menu">
    <!-- <button id="theme-toggle">lights</button> -->
    <div class="nav-links-container">
        <a href="/">main</a>
        <a href="/archive">archive</a>
        <a href="/about">profile</a>
        <a href="/theatre">theatre</a>
        <p style="margin-top: 2rem;">
            Pyotr Goloub is a creative technologist, blurring the line between design and engineering. As design evolves from fixed environments into adaptable systems, he builds his own tooling to reshape the process itself, removing friction between idea and execution. This approach accelerates both his own speed and internal team workflows, without compromising precision or visual quality. Fluent across both creative and technical domains, he understands the underlying mechanics that connect them, allowing him to design with systems, code, and a clear awareness of how implementation shape material and ultimately the outcomes.
        </p>
        <p>
            Limited availability until November 2026
        </p>
        <a id="contact" href="mailto:yes@its-pyotr.com">yes@its-pyotr.com</a>
    </div>
</nav>