<div id="menu-icon">
    <div class="stripe"></div>
    <div class="stripe"></div>
    <div class="stripe"></div>
    <div class="stripe"></div>
</div>
<a id="home-sticky" href="/">wshbd</a>
<nav id="nav-menu">
    <!-- <button id="theme-toggle">lights</button> -->
    <div class="nav-links-container">
        <a href="/">featured</a>
        <a href="/archive">archive</a>
        <a href="/something">something</a>
        <a href="/about">about</a>
    </div>
    <p id="contact">hello@wshbd.com</p>
</nav>