<div id="menu-icon">
    <div class="stripe"></div>
    <div class="stripe"></div>
    <div class="stripe"></div>
    <div class="stripe"></div>
</div>
<div id="home-sticky" class="sticky-nav-actions">
    <a class="sticky-link" href="/">home</a>
    <a class="sticky-link" href="/about">profile</a>
    <a class="sticky-link" href="mailto:yes@its-pyotr.com class=">email</a>
</div>
<nav id="nav-menu">
    <!-- <button id="theme-toggle">lights</button> -->
    <div class="nav-links-container">
        <a href="/">home</a>
        <a href="/archive">archive</a>
        <a href="/about">profile</a>
        <a href="/theatre">theatre</a>
        <p style="margin-top: 2rem;">
            Pyotr Goloub is a designer who uses programming to design. Based in Netherlands, he often works across borders, seeking harmony between modern aesthetics and functional design. His work revolves around idea of anti-disciplinary approach, with a special passion for editorial and web projects. 
        </p>
        <p>
            Limited availability until November 2026
        </p>
        <a id="contact" href="mailto:yes@its-pyotr.com">yes@its-pyotr.com</a>
    </div>
</nav>