<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Pyotr Goloub">
    <meta name="keywords" content="">
    <meta name="description" content="random pieces of work made by wshbd design studio">
    <meta property="og:title" content="works by wshbd">
    <meta property="og:image" content="/content/misc/og_1200x1200.png">
    <meta property="og:description" content="random pieces of work made by wshbd design studio">
    <meta property="og:url" content="wshbd.com">
    <meta name="twitter:card" content="/content/misc/og_1200x1200.png" />

    <title>wshbd // something</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/content/misc/favicon_16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/content/misc/favicon_32x32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/content/misc/favicon_48x48.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/content/misc/favicon_192x192.png">
    <link rel="apple-touch-icon" type="image/png" sizes="167x167" href="/content/misc/favicon_167x167.png">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/content/misc/favicon_180x180.png">
    <link rel="shortcut icon" type="image/png" href="/content/misc/favicon_180x180.png" />

    <link rel="stylesheet" href="https://use.typekit.net/dxz4nuq.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/sections.css">

</head>

<body>
    <script type="module" src="/scripts/scripts.js"></script>

    <header>
        <div id="menu-icon">
    <div class="stripe"></div>
    <div class="stripe"></div>
    <div class="stripe"></div>
    <div class="stripe"></div>
</div>
<a id="home-sticky" href="/">wshbd</a>
<nav id="nav-menu">
    <!-- <button id="theme-toggle">lights</button> -->
    <div class="nav-links-container">
        <a href="/">featured</a>
        <a href="/archive">archive</a>
        <a href="/something">something</a>
        <a href="/about">about</a>
    </div>
    <p id="contact">hello@wshbd.com</p>
</nav>
    </header>

    <section>
        <div class="random-gallery" id="random-gallery-container">
            <noscript>
                <div>
                    <p>you need javascript to scroll through this content</p>
                </div>
            </noscript>
            <!-- PROJECT_SECTION_PLACEHOLDER -->
        </div>
    </section>

    <script type="module" src="/scripts/something.js" defer></script>
</body>

</html>