/* to normalize cross browser look */
html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

:root {
    vertical-align: baseline;

    --special-color: #FF0035;
    --special-color-off: #ff003380;

    --soft-white: #f5f5f5;
    --soft-off-white: #f5f5f5bb;
    
    --soft-black: #212427;
    --nav-menu-bg-color: rgba(0, 0, 0, 0.1);

    --main-color: #f3f4f8;
    /* --main-color: #000000; */

    /* font-weight: 500; ddddd*/
    font-style: normal;

    --main-bg: var(--main-color);
    --text-color: var(--soft-black);
    /* --text-color: var(--soft-white); */

    --border-def: 0px solid var(--soft-black);
    --border-red: 0px solid var(--special-color);

    --left-cursor-white: url('/content/misc/white-left.svg'), pointer;
    --right-cursor-white: url('/content/misc/white-right.svg'), pointer;
    --left-cursor: url('/content/misc/black-left.svg'), pointer;
    --right-cursor: url('/content/misc/black-right.svg'), pointer; 

    --transition-timing: cubic-bezier(0.165, 0.84, 0.44, 1);
}



@media (max-width: 758px) {
    :root {
        --border-def: 0px solid var(--text-color);
        --border-red: 0px solid var(--special-color);
    }
}

* {
    color: var(--text-color);

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    font-variant-ligatures: common-ligatures;
    -moz-font-feature-settings: "liga", "clig";
    -webkit-font-feature-settings: "liga", "clig";
    font-feature-settings: "liga", "clig";

    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    vertical-align: baseline;

    transition: all 0.3s var(--transition-timing);
    transition: color 0.5s var(--transition-timing);
    transition: background-color 0.5s var(--transition-timing);
    transition: opacity 0.5s var(--transition-timing);
}

html {
    font-size: 14px;

    scroll-behavior: auto;
    scrollbar-width: none;

    font-family: "cofo-sans-variable", monospace;
    font-variation-settings: "slnt" 0, "wght" 500;
}

@media (min-width: 1600px) {
    html {
        font-size: 20px;
    }
}


::-moz-selection {
    color: var(--soft-white);
    background: var(--special-color);
}

::selection {
    color: var(--soft-white);
    background: var(--special-color);
}

/*  =================
     page transition 
    ================= */

@view-transition {
    navigation: auto;
}



@keyframes fade-out {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

::view-transition-old(root) {
    animation: 300ms cubic-bezier(0.165, 0.84, 0.44, 1) both fade-out;
}

::view-transition-new(root) {
    animation: 300ms cubic-bezier(0.165, 0.84, 0.44, 1) both fade-in;
}
    



/*  =================
        dark mode 
    ================= */

body.dark-mode {

    --main-color: #000000;

    --main-bg: var(--main-color);
    --text-color: var(--soft-white);
    --nav-menu-bg-color: rgba(255, 255, 255, 0.05);

    --border-def: 0rem solid;

    --left-cursor: url('/content/misc/white-left.svg'), pointer;
    --right-cursor: url('/content/misc/white-right.svg'), pointer;
}

@media (max-width: 758px) {
    body.dark-mode {
        --border-def: 0.0rem solid var(--text-color);
    }
}

/* ============================================ */

header {
    margin-inline: 1rem;
    justify-content: center;
    align-items: center;
}


nav * {
    font-family: "cofo-sans-variable", monospace;
    /* font-size: 2rem; */
    font-variation-settings: "slnt" 0, "wght" 400;
    color: var(--text-color);
}


nav #contact {
    padding: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 758px) {
    header {
        margin: 1rem;
        width: auto;
    }

    nav * {
        font-size: 1.5rem;
    }

    nav #contact {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
}

nav > {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

header #home-sticky{
    position: fixed;
    font-family: "cofo-sans-variable", monospace;
    z-index: 1001;
    padding: 1rem;
    top: 0rem;
    right: 0;
    color: #fff;
    mix-blend-mode: exclusion;
    text-decoration: none;
}

header #home-sticky:hover{
    text-decoration: underline;
    mix-blend-mode: normal;
    color: var(--special-color);
}

@media (max-width: 758px) {
    header #home-sticky{
        right: 0;
        top: 1rem;
    }
}

#menu-icon {
    position: fixed;
    cursor: pointer;
    display: flex;
    top: 1rem;
    flex-direction: row;
    justify-content: space-between;
    width: 0.8rem;
    height: 1.5rem;
    z-index: +100;
    transition: all 0.5s var(--transition-timing);
}


#menu-icon:hover {
    width: calc(100% - 2rem);
    padding-left: 3rem;
    height: 2.5rem;
}

#menu-icon:hover::before {
    content: '';
    transform: translateX(1rem);
}

#menu-icon .stripe {
    position: absolute;
    background-color: var(--text-color);
    mix-blend-mode: exclusion;
    width: 2px;
    height: 100%;
    top: 0;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#menu-icon .stripe:nth-child(1) {
    left: 0rem;
}

#menu-icon .stripe:nth-child(2) {
    margin-left: calc(50% - 3.5rem);
}

#menu-icon .stripe:nth-child(3) {
    margin-left: calc(50% - 1.5rem - 1px);
}

#menu-icon .stripe:nth-child(4) {
    right: 0rem;
}



#nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    color: var(--text-color);
    background-color: var(--nav-menu-bg-color);
    backdrop-filter: blur(2rem); 
    -webkit-backdrop-filter: blur(2rem); /* for safari */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 2000;
    font-size: 2rem;
    transition: all 0.5s var(--transition-timing);
}

.nav-links-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.nav-links-container * {
    display: inline-block;
    text-decoration: none;
}

#theme-toggle {
    padding-block: 2rem;
}

#nav-menu.open {
    left: 0;
}

#menu-icon.open {
    margin-left: calc(50svw + 0.5rem);
    width: calc(50% - 2.5rem);
    justify-content: space-between;
    z-index: 1001;
    padding-left: 0rem;
}

@media (max-width: 758px) {
    #menu-icon.open {
        width: calc(50% - 2.5rem);
    }
    #menu-icon {
        top: 2rem;
    }
}

#menu-icon.open .stripe {
    margin: 0;
}

#menu-icon.open .stripe:nth-child(1) {
    left: 0rem;
}

#menu-icon.open .stripe:nth-child(2) {
    margin-left: calc(50% - 1rem);
}

#menu-icon.open .stripe:nth-child(3) {
    margin-left: calc(50% + 1rem);
}

#menu-icon.open .stripe:nth-child(4) {
    right: 0rem;
}

/* ============================================ */

body {
    width: 100%;
    background-color: var(--main-bg);
    color: var(--text-color);
}


/* ============================================ */

footer {
    margin-top: 90svh;
    display: flex;
    flex-direction: column;
}

@media (max-width: 758px) {
    footer {
        margin: 0rem;
        margin-top: 50svh;
    }
}

.footer-wrapper {
    margin: 1rem;
}

@media (max-width: 758px) {
    .footer-wrapper {
        margin: 0rem;
    }
}

.footer-columns {
    display: flex;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
}

@media (max-width: 758px) {
    .footer-columns {
        gap: 0rem;
    }
}


.footer-columns h4 {
    font-family: "cofo-sans-variable", Helvetica, sans-serif;
    font-weight: 500;
    font-variation-settings: "slnt" 0, "wght" 500;
    font-style: normal;
    /* font-size: 1rem; */

    border-bottom: var(--border-def);
    margin-bottom: 2rem;
    padding-inline: 1rem;
}

.footer-columns p {
    /* margin-top: 0.8rem; */
    padding-inline: 1rem;
}

.footer-columns>div {
    flex: 1;
}

#design-brief p:hover,
#dev-brief p:hover,
#home:hover {
    cursor: pointer;
    text-decoration: underline;
    border: none;
    color: var(--special-color);
}

.extr-link a {
    padding-inline: 1rem;
    border: none;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 758px) {
    .extr-link a, #design-brief, #dev-brief {
        display: none;
    }
}

.extr-link a:hover {
    cursor: pointer;
    text-decoration: none;
    border: none;
    background: var(--main-bg);
    color: var(--special-color);
}

.footer-note{
    margin-block: 1rem;
    padding-inline: 1rem;
    justify-content: space-between;
    display: flex;
}

@media (max-width: 758px) {
    .footer-note{
        margin-top: 5rem;
        /* font-size: 0.8rem; */
    }
}


/* ============================================ */


img {
    max-height: 100%;
    display: block;
    height: auto;
}

/* add smooth transition styles for all image galleries */
.project-image img {
    transition: opacity 0.4s var(--transition-timing);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.spotlight-gallery-container, 
.spotlight-giant-gallery,
.project-image {
    position: relative;
    overflow: hidden;
    min-height: 300px; 
}

.spotlight-gallery-container.blinking,
.spotlight-giant-gallery.blinking {
    animation: none; /* disable any existing blinking animation */
}

ol {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* ============================================ */

h1 {
    font-size: 5.5em;
    font-family: "cofo-sans-variable", system-ui, -apple-system, 'Helvetica Neue', BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    font-variation-settings: "slnt" 0, "wght" 100;
    font-weight: 100;
    letter-spacing: -7%;
    line-height: 0.87em;
    color: var(--text-color);
}
@media (max-width: 758px) {
    h1 {
        font-size: 3.5rem;
        letter-spacing: -1px;
        font-variation-settings: "slnt" 0, "wght" 250;
    }    
}

h2 {
    /* font-size: 3em; */
    font-family: "cofo-sans-variable", system-ui, -apple-system, 'Helvetica Neue', BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    font-weight: 350;
    font-variation-settings: "slnt" 0, "wght" 350;
    font-style: normal;
    letter-spacing: -3px;
    color: var(--text-color);
}
@media (max-width: 758px) {
    h3 {
        /* font-size: 2em; */
        letter-spacing: -1px;
    }    
}


h3 {
    font-family: "cofo-sans-variable", system-ui, -apple-system, 'Helvetica Neue', BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 450;
    font-variation-settings: "slnt" 0, "wght" 450;
    letter-spacing: normal;
    color: var(--text-color);
}

h4 {
    font-family: "cofo-sans-variable", system-ui, -apple-system, 'Helvetica Neue', BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-variation-settings: "slnt" 0, "wght" 400;
    letter-spacing: normal;
}


h5,
h6 {
    color: var(--text-color);
    font-family: "cofo-sans-variable", Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;

}

p {
    font-family: "cofo-sans-variable", Helvetica, sans-serif;
    text-align: justify;
    text-justify: auto;
    font-style: normal;
    line-height: 115%;
    letter-spacing: -2.5%;
}

@media (max-width: 768px) {
    p {
        /* font-size: 0.8rem; */
    }
}

/* ============================================ */

a {
    text-decoration: underline;
    display: flex;
    cursor: pointer;
    padding: 1rem;
    font-style: normal;
    border: var(--border-def);
    color: var(--text-color);
}

a:visited {
    color: var(--text-color);
    border: var(--border-red);
}

a:hover {
    border: var(--border-def);
    color: var(--special-color);
}


@media (max-width: 758px) {
    a:hover {
        border: 0.0rem solid var(--special-color);
    }
}

button {
    display: inline-block;
    padding: 1rem;
    width: 100%;
    background-color: var(--main-bg);
    border: var(--border-def);
    color: var(--text-color);
    /* text-decoration: none; */
    cursor: pointer;
    text-align: start;
}

button:hover {
    background-color: var(--text-color);
    color: var(--main-bg);
}

.spotlight-xtr-info a,
.archive-item a,
#design-brief p,
#next-project,
#prev-project,
#dev-brief p,
.xtr-info a,
a{
    text-decoration: underline 0.2rem;
}

.extr-link{
    text-decoration: none;
}